@model TopHeaderModel
<div class="top-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10 col-sm-8 col-md-5 col-lg-4">
                <p class="phone-no"><i class="anm anm-phone-s"></i> @Model.PhoneNumber</p>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 d-none d-lg-none d-md-block d-lg-block">
                <div class="text-center"><p class="top-header_middle-text"> @Model.SiteSlogan</p></div>
            </div>
            <div class="col-2 col-sm-4 col-md-3 col-lg-4 text-right">
                <span class="user-menu d-block d-lg-none"><i class="anm anm-user-al" aria-hidden="true"></i></span>
                <ul class="customer-links list-inline">
                    @if (Model.IsLogin)
                    {
                        <li><a href="#">@Model.Name</a></li>
                        <li><a href="/login/logout">Çıkış</a></li>
                    }
                    else
                    {
                        <li><a href="/Login">Login</a></li>
                        <li><a href="/Register">Create Account</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>