 @model LoginViewModel
<!--Body Content-->
<div id="page-content">
    <!--Page Title-->
    <div class="page section-header text-center">
        <div class="page-title">
            <div class="wrapper"><h1 class="page-width">Login</h1></div>
        </div>
    </div>
    <!--End Page Title-->

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3">
                <div class="mb-4">
                    <form asp-controller="Login" asp-action="Index" method="post" target="_self" class="contact-form">


                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label for="CustomerEmail">Email</label>
                                    <input asp-for="Email" type="email" placeholder="" id="CustomerEmail" class="" autocorrect="off" autocapitalize="off" autofocus="">
                                    <span asp-validation-for="Email" style="color:red"></span>

                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label for="CustomerPassword">Password</label>
                                    <input asp-for="Password" type="password" value="" placeholder="" id="CustomerPassword" class="">
                                    <span asp-validation-for="Password" style="color:red"></span>
                                </div>
                            </div>
                        </div>
                        @if(@ViewData.ModelState.ErrorCount > 0 && @ViewData.ModelState["Error"] != null)
                        {
                        <div>
                            <li>
                                @foreach (var item in @ViewData.ModelState["Error"].Errors)
                                {
                                    <ul>@item.ErrorMessage</ul>
                                }
                            </li>

                        </div>
                        }

                        <div class="row">
                            <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12">
                                <input type="submit" class="btn mb-3" value="Sign In">
                                <p class="mb-4">
                                    <a href="#" id="RecoverPassword">Forgot your password?</a> &nbsp; | &nbsp;
                                    <a href="register.html" id="customer_register_link">Create account</a>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<!--End Body Content-->